body {
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-vector/beautiful-outdoor-nature-scene-background-view-from-porch_1308-76143.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

#wateringCan
{
    margin-left: 55%;
    margin-top: 25%;
    width: 100px;
    height: 100px;
    display: none;
}

#wateringCanButton
{
    position: fixed;
}

#flowers
{
    width: 200px;
    margin-left: 50%;
    margin-top: 35%;
}

#sun
{
    display: none;
    width: 400px;
    margin-left: 80%;
    margin-bottom: 70%;
}

#buttons
{
    background-color: aqua;
    bottom: 90%;
}